.ql-editor {
  counter-reset: heading-counter;
}

.ql-editor .xxx-content {
  text-align: center;
  text-transform: uppercase;
  margin: 1em 0;
}

.ql-editor .xxx-content::before {
  counter-increment: heading-counter;
  content: "[" counter(heading-counter, upper-alpha) " - ";
  display: inline;
}

.ql-editor .xxx-content::after {
  content: "]";
  display: inline;
}

.ql-editor p {
  
}

.livex-quill-gfx {
  padding: 6px !important;
  color: white !important;
  cursor: pointer !important;
  background-color: red !important;
  line-height: 2rem !important;
  font-weight: bold !important;
  caret-color: transparent !important;
  font-style: normal !important;
  display: inline-block;
}
